<form method="POST" action="/send_text">
  To Number:<br>
  <input type="text" name="number" value=""><br>
  Text Message:<br>
  <input type="text" name="message" value=""><br><br>
  <input type="submit" value="Send Text Message">
</form>
